@page
@model GigLocal.Pages.Admin.Gigs.IndexModel

@{
    ViewData["Title"] = "Gigs";
    ViewData["Description"] = "See gigs on Gig Local admin.";
    ViewData["Image"] = $"{HttpContext.Request.GetDisplayUrl()}/android-chrome-192x192.png";
    ViewData["Url"] = $"{HttpContext.Request.GetDisplayUrl()}/";
}

<h2>Gigs</h2>

<div class="form-group">
    <a class="btn btn-success" role="button" asp-page="Create">Create New</a>
</div>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a class="btn btn-secondary" role="button" asp-page="./Index">Clear</a>
            <a class="btn btn-info" role="button" asp-page="./Index" asp-route-pending="@true">Pending Gigs</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Gigs[0].ArtistName)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gigs[0].VenueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gigs[0].Date)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Gigs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenueName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.ID">Details</a>
                            <a class="dropdown-item" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                            <a class="dropdown-item" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                            <a class="dropdown-item" asp-page="./Duplicate" asp-route-templateId="@item.ID">Duplicate</a>
                            @if (!item.Approved)
                            {
                                <a class="dropdown-item" asp-page="./Approve" asp-route-id="@item.ID">Approve</a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Gigs.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Gigs.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Gigs.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-pending="@Model.PendingFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Gigs.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   asp-route-pending="@Model.PendingFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
