@page
@model GigModel

<div class="row">
    <div class="col-md-6">
        <img class="w-100" width="640" height="360" src="@Model.Gig.Image"
            alt="Image of music artist @Model.Gig.ArtistName">
    </div>
    <div class="col-md-6">
        <h1 class="display-5">@Model.Gig.ArtistName</h1>
        <h2 class="display-7 fw-bold">@Model.Gig.DateTime</h2>
        <h3 class="display-7 text-secondary">@Model.Gig.VenueName</h3>
        <p class="lead">@Model.Gig.Description</p>
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-primary btn-lg" role="button" href="@Model.Gig.EventUrl" target="_blank"
                rel="noopener noreferrer">Event Website</a>
            <a class="btn btn-outline-secondary btn-lg" role="button" href="@Model.Gig.GoogleMapsUrl" target="_blank"
                rel="noopener noreferrer">Get Directions</a>
        </div>
    </div>
</div>
