@page
@model GigsByVenueModel

<div class="p-5 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">@Model.Venue.Name</h1>
        <p class="lead">@ViewData["Description"]</p>
        <small>@Model.Venue.Address</small>
        <p class="fs-4">
            <a href="@Model.Venue.Website" target="_blank" rel="noopener noreferrer">Go to Website</a> &middot;
            <a href="@Model.Venue.GoogleMapsUrl" target="_blank" rel="noopener noreferrer">Get Directions</a>
        </p>
    </div>
</div>
<br>
@if (Model.Gigs.Count() == 0)
{
    <h4>There are no upcoming gigs listed at this venue.</h4>
    <p>If you manage this venue's gigs, or are a community member wanting to get involved,
        please upload gigs via our <a asp-page="/Upload">upload page</a>.</p>
}
else
{
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (var gig in Model.Gigs)
        {
            <div class="col mb-4">
                <div class="card h-100 shadow">
                    <img class="card-img-top" src="@gig.Image" width="640" height="360" alt="Image of music artist @gig.ArtistName.">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@gig.EventUrl" class="stretched-link text-reset">@gig.ArtistName</a>
                        </h5>
                        <h6 class="fw-bold">@gig.DateTime</h6>
                        <h6 class="text-secondary">@Model.Venue.NameLocation</h6>
                        <p>@gig.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
