@page
@model GigsModel
@{
    ViewData["Title"] = "Gigs";
}

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var gig in Model.Gigs)
    {
        <div class="col mb-4">
            <div class="card h-100 shadow">
                <img class="card-img-top" src="@gig.Image" alt="Image of music artist @gig.ArtistName.">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@gig.EventUrl" class="stretched-link text-reset" target="_blank" rel="noopener noreferrer">@gig.ArtistName</a>
                    </h4>
                    <p class="card-text font-weight-bolder">@gig.Date, @gig.Time</p>
                    <h5 class="text-secondary">@gig.VenueName</h5>
                    <p>@gig.Description</p>
                </div>
            </div>
        </div>
    }
</div>
