@page
@model GigsModel
@{
    ViewData["Title"] = "Gigs";
}

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var gig in Model.Gigs)
    {
        <div class="col mb-4">
            <div class="card">
                <img class="img-fluid" src="@gig.Image" alt="Image of music artist @gig.ArtistName.">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@gig.EventUrl" class="stretched-link text-reset">@gig.ArtistName | @gig.VenueName</a>
                    </h4>
                    <p class="card-text font-weight-bold">@gig.Date | @gig.Time</p>
                    <p>@gig.Description</p>
                </div>
            </div>
        </div>
    }
</div>
