@page
@model GigsModel
@{
    ViewData["Title"] = "Gigs";
}
<div class="jumbotron text-center">
    <h1 class="display-4">Gigs</h1>
    <p class="lead">All upcoming gigs on Gig Local. Click on a gig to learn more about it.</p>
</div>
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var gig in Model.Gigs)
    {
        <div class="col mb-4">
            <div class="card h-100 shadow">
                <img class="card-img-top" src="@gig.Image" alt="Image of music artist @gig.ArtistName.">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@gig.EventUrl" class="stretched-link text-reset" target="_blank" rel="noopener noreferrer">@gig.ArtistName</a>
                    </h5>
                    <h6>@gig.Date, @gig.Time</h6>
                    <h6 class="text-secondary">@gig.VenueName</h6>
                    <p>@gig.Description</p>
                </div>
            </div>
        </div>
    }
</div>
