@page
@model GigsModel
@{
    ViewData["Title"] = "Gigs";
}

<h3>
    Upcoming Gigs in Northcote:
</h3>
<br/>

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var gig in Model.Gigs)
    {
        <div class="col mb-4">
            <div class="card">
                <img class="img-fluid" src="@gig.ArtistImage" alt="Image of artist @gig.ArtistName.">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@gig.VenueWebsite" class="text-reset">@gig.VenueName</a> |
                        <a href="@gig.ArtistWebsite" class="text-reset">@gig.ArtistName</a>
                    </h4>
                    @{
                        var ticketPrice = gig.TicketPrice == 0 ? "Free" : $"${gig.TicketPrice}";
                        <p class="card-text font-weight-bold">@gig.Date | @gig.Time | @ticketPrice</p>
                        if (gig.TicketWebsite != null)
                        {
                            <p class="card-text">
                                <a href="@gig.TicketWebsite" class="btn btn-secondary">Buy Tickets</a>
                            </p>
                        }
                    }

                    <p>
                        @gig.ArtistDescription
                    </p>
                </div>
            </div>
        </div>
    }
</div>
