@page
@model GigLocal.Pages.Admin.Artists.IndexModel

@{
    ViewData["Title"] = "Artists";
    Layout = "_AdminLayout";
}

<h2>Artists</h2>

<div class="form-group">
    <a class="btn btn-success" role="button" asp-page="Create">Create New</a>
</div>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <a class="btn btn-secondary" role="button" asp-page="./Index" >Clear</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Artists[0].Name)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists[0].Website)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Description.Truncate(20)
                </td>
                <td>
                    <a href="@item.Website" target="_blank" rel="noopener noreferrer">@item.Website</a>
                </td>
                <td>
                    <div class="btn-group-sm" role="group" aria-label="Action buttons">
                        <a class="btn btn-primary" role="button" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-secondary" role="button" asp-page="./Details" asp-route-id="@item.ID">Details</a>
                        <a class="btn btn-danger" role="button" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Artists.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Artists.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Artists.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Artists.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
