@page
@model GigLocal.Pages.Admin.Venues.DetailsModel

<h2>Details</h2>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Venue.ImageUrl" height="150">
        </dd>
    </dl>
<div>
    <a class="btn btn-outline-secondary" role="button" asp-page="./Index">Back</a>
    <a class="btn btn-primary" role="button" asp-page="./Edit" asp-route-id="@Model.Venue.ID">Edit</a>
</div>
